:root {
  --primary: #161d2b;
  --secondary: #1c2332;
  --third: #121927;
  --headerHigh: 80px;
  --headerML: 20px;
}

.modal-content {
  color: white !important;
  background-color: #1b2231 !important;
  letter-spacing: 5px;
}
.modal-content div {
  border: 0;
}
.modal-content .btn {
  width: 150px;
  height: 45px;
  border: 0;
  border-radius: 3px;
  font-weight: 550;
  font-size: 18px;
  letter-spacing: 8px;
}
.modal-content .btn-primary {
  color: #141d2b;
  background-color: rgb(159, 239, 0);
}
.modal-content .btn-primary:hover {
  background-color: rgba(159, 239, 0, 0.9);
  color: #141d2b;
}
.modal-content .btn-secondary {
  color: #a4afc9;
  background-color: #1b2231;
}
.modal-content .btn-secondary:hover {
  background-color: rgba(165, 174, 199, 0.5);
  color: #1b2231;
}
.modal-content .modal-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.modal-content .modal-body .fa {
  width: 30px;
  height: 30px;
}

.app {
  background-color: var(--primary);
  display: flex;
  color: #a4b1cd;
}
.app .sidebar {
  min-height: 100vh;
  width: 240px;
  border-right: 1px solid rgba(32, 40, 55, 0.5);
  background-color: var(--third);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
.app .sidebar .header {
  display: flex;
  align-items: center;
  height: var(--headerHigh);
  gap: 10px;
  margin-left: var(--headerML);
  border-bottom: 1px solid rgba(32, 40, 55, 0.5);
}
.app .sidebar .header .header-image {
  background-image: url(../../public/ds.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 90%;
  height: 90%;
}
.app .sidebar .header .header-title {
  font-size: 20px;
}
.app .sidebar .menu {
  margin-top: 30px;
}
.app .sidebar .menu a {
  text-decoration: none;
  color: #a4b1cd;
}
.app .sidebar .menu .list-group {
  padding-left: 20px;
}
.app .sidebar .menu .list-group .list-group-item {
  background-color: var(--third);
  color: #a4b1cd;
  font-size: 18px;
  border: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.app .sidebar .menu .list-group .list-group-item:hover {
  color: white;
}
.app .sidebar .menu .list-group .active {
  background-color: #3e424b;
  border-radius: 5px;
  width: 90%;
}
.app .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 240px;
  height: 100vh;
  background-color: #151c2a;
}
.app .content .content-top {
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--third);
  border-bottom: 1px solid rgba(32, 40, 55, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: var(--headerML);
}
.app .content .content-top .fa {
  width: 40px;
  height: 80px;
}
.app .content .content-top h1 {
  margin: 0;
}
.app .content .content-center {
  flex: 1;
}
.app .content .content-center .content-commands {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}
.app .content .content-center .content-commands .card {
  background-color: var(--third);
  color: #a4b1cd;
  border-radius: 0;
}
.app .content .content-center .content-commands .card .card-header {
  border: 0;
  font-size: 20px;
  font-weight: 600;
}
.app .content .content-center .content-commands .card .card-body .card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.app .content .content-center .content-commands .card .card-body .card-title span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: rgb(9, 69, 199);
  background-color: rgba(9, 69, 199, 0.25);
}
.app .content .content-center .content-commands .card .card-body .card-title span::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgb(9, 69, 199);
}
.app .content .content-center .content-commands .card .card-body .card-title span.warning {
  color: rgb(255, 167, 52);
  background-color: rgba(255, 167, 52, 0.5);
}
.app .content .content-center .content-commands .card .card-body .card-title span.warning::before {
  background-color: rgb(255, 167, 52);
}
.app .content .content-center .content-commands .card .card-body .card-title span.success {
  color: rgb(159, 239, 0);
  background-color: rgba(159, 239, 0, 0.5);
}
.app .content .content-center .content-commands .card .card-body .card-title span.success::before {
  background-color: rgb(159, 239, 0);
}
.app .content .content-center .content-commands .card .card-body .card-title span.danger {
  color: rgb(255, 57, 67);
  background-color: rgba(68, 30, 43, 0.5);
}
.app .content .content-center .content-commands .card .card-body .card-title span.danger::before {
  background-color: rgb(255, 57, 67);
}
.app .content .content-center .content-commands .card .card-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
}
.app .content .content-center .content-commands .card .card-footer .foot-date, .app .content .content-center .content-commands .card .card-footer .foot-date-sp, .app .content .content-center .content-commands .card .card-footer .foot-funcs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.app .content .content-center .content-commands .card .card-footer .foot-date .foot-funcs-start, .app .content .content-center .content-commands .card .card-footer .foot-date .foot-funcs-stop, .app .content .content-center .content-commands .card .card-footer .foot-date .foot-funcs-sync, .app .content .content-center .content-commands .card .card-footer .foot-date-sp .foot-funcs-start, .app .content .content-center .content-commands .card .card-footer .foot-date-sp .foot-funcs-stop, .app .content .content-center .content-commands .card .card-footer .foot-date-sp .foot-funcs-sync, .app .content .content-center .content-commands .card .card-footer .foot-funcs .foot-funcs-start, .app .content .content-center .content-commands .card .card-footer .foot-funcs .foot-funcs-stop, .app .content .content-center .content-commands .card .card-footer .foot-funcs .foot-funcs-sync {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 8px 0 8px;
}
.app .content .content-center .content-commands .card .card-footer .foot-date span, .app .content .content-center .content-commands .card .card-footer .foot-date-sp span, .app .content .content-center .content-commands .card .card-footer .foot-funcs span {
  display: block;
  width: 100%;
}
.app .content .content-center .content-commands .card .card-footer .foot-date span:not(:last-child), .app .content .content-center .content-commands .card .card-footer .foot-date-sp span:not(:last-child), .app .content .content-center .content-commands .card .card-footer .foot-funcs span:not(:last-child) {
  border-right: 2px solid rgba(173, 184, 206, 0.5);
}
.app .content .content-center .content-commands .card .card-footer .foot-funcs {
  display: none;
}
.app .content .content-center .content-commands .card .card-footer .foot-funcs div:hover {
  color: white;
  cursor: pointer;
  background-color: #3e424b;
  border-radius: 5px;
}
.app .content .content-center .content-commands .card .card-footer:hover .foot-date {
  display: none;
}
.app .content .content-center .content-commands .card .card-footer:hover .foot-funcs {
  display: flex;
}
.app .content .content-center .table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 40px;
  background-color: var(--third);
}
.app .content .content-center .table-header .table-header-search {
  display: flex;
  align-items: center;
  gap: 20px;
}
.app .content .content-center .table-header .table-header-search .fa {
  display: block;
  width: 20px;
  height: 20px;
}
.app .content .content-center .table-header .table-header-search .input-group input {
  background-color: var(--third);
  color: rgb(67, 155, 53);
  border: 0;
}
.app .content .content-center .table-header .table-header-search .input-group input::-moz-placeholder {
  color: rgba(164, 177, 205, 0.4);
}
.app .content .content-center .table-header .table-header-search .input-group input::placeholder {
  color: rgba(164, 177, 205, 0.4);
}
.app .content .content-center .table-header .table-header-funcs {
  display: flex;
  align-items: center;
  gap: 50px;
}
.app .content .content-center .table-header .table-header-funcs .dropdown button {
  width: 100px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--primary);
  border: thin solid rgb(17, 25, 39);
  color: rgba(164, 177, 205, 0.4);
}
.app .content .content-center .table-header .table-header-funcs .dropdown button:hover {
  background-color: var(--secondary);
}
.app .content .content-center .table-header .table-header-funcs .dropdown > .show:last-child {
  background-color: var(--secondary);
  color: rgba(164, 177, 205, 0.4);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 10px -2px auto auto !important;
}
.app .content .content-center .table-header .table-header-funcs .dropdown > .show:last-child .form-check {
  height: 35px;
  width: 110px;
}
.app .content .content-center .table-header .table-header-funcs .dropdown > .show:last-child .form-check input[type=radio] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  outline: none;
}
.app .content .content-center .table-header .table-header-funcs .dropdown > .show:last-child .form-check label {
  margin-left: 20px;
}
.app .content .content-center .table-content {
  background-color: #151c2a;
}
.app .content .content-center .table-content table {
  padding-left: 20px;
}
.app .content .content-center .table-content table thead {
  border-bottom: 1px solid rgba(32, 40, 55, 0.5);
}
.app .content .content-center .table-content table thead th {
  text-transform: uppercase;
  color: #a4b1cd !important;
  font-size: 15px;
  font-weight: 500;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 10%;
}
.app .content .content-center .table-content table thead th:last-child {
  width: 50%;
}
.app .content .content-center .table-content table tr {
  margin-bottom: 50px;
}
.app .content .content-center .table-content table tr td {
  width: 10%;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.app .content .content-center .table-content table tr td:last-child {
  width: 50%;
  padding-right: 20px;
}/*# sourceMappingURL=globals.css.map */