:root {
    --primary: #161d2b;
    --secondary: #1c2332;
    --third: #121927;
    --headerHigh: 80px;
    --headerML: 20px;
}

.app {
    background-color: var(--primary);
    display: flex;
    color: white;

    .sidebar {
        min-height: 100vh;
        width: 240px;
        border-right: 1px solid rgba(32,40,55,.5);
        background-color: var(--third);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        .header {
            display: flex;
            align-items: center;
            height: var(--headerHigh);
            gap: 10px;
            margin-left: var(--headerML);
            border-bottom: 1px solid rgba(32,40,55,.5);


            .header-image {
                background-image: url(../../public/htb.svg);
                background-repeat: no-repeat;
                // background-position: center center;

                width: 40px;
                height: 40px;
            }

            .header-title {
                font-size: 20px;
            }
        }

        .menu {
            margin-top: 30px;
            .list-group {
                padding-left: 10px;
                .list-group-item {
                    background-color: var(--third);
                    color: #a4b1cd;
                    font-size: 18px;
                    border: 0;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;

                    &:hover {
                        color: white;
                    }
                }

                .active {
                    background-color: #3e424b;
                    border-radius: 5px;
                    width: 90%;
                }
            }
        }
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 240px;
        height: 100vh;
        background-color: #151c2a;

        .content-top {
            // padding-top: 40px;
            height: 80px;
            width: 100%;
            position: sticky;
            top: 0;
            z-index: 999999;
            background-color: var(--third);

            border-bottom: 1px solid rgba(32,40,55,.5);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            padding-left: var(--headerML);

            .fa {
                width: 40px;
                height: 80px;
            }

            h1 {
                margin: 0;
            }
        }

        .content-center {
            flex: 1;

            .content-commands {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 0;
    
                .card {
                    background-color: var(--third);
                    color: #a4b1cd;
                    border-radius: 0;
    
                    .card-header {
                        border: 0;
                        font-size: 20px;
                        font-weight: 600;
                    }
    
                    .card-footer {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 0;

                        &:hover {
                            .card-span-btn {
                                display: block;
                            }
                            .card-span {
                                display: none;
                            }
                        }
    
                        .card-span {
                            display: block;
                            width: 100%;

                            &:first-child {
                                border-right: 2px solid rgba(173, 184, 206, 0.5);
                            }
                        }

                        .card-span-btn {
                            display: none;
                            width: 100%;

                            &:first-child {
                                border-right: 2px solid rgba(173, 184, 206, 0.5);
                            }
                        }
                    }
                }
            }

            .table-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 65px;
                padding: 0 40px;
                background-color: var(--third);

                .table-header-search {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .fa {
                        display: block;
                        width: 20px;
                        height: 20px;
                    }

                    .input-group {
                        input {
                            background-color: var(--third);
                            color: rgb(67, 155, 53);
                            border: 0;

                            &::placeholder {
                                color: rgba(164, 177, 205, 0.4);
                            }
                        }

                    }

                }

                .table-header-funcs {
                    display: flex;
                    align-items: center;
                    gap: 50px;

                    .dropdown {
                        button {
                            width: 100px;
                            text-transform: uppercase;
                            border-radius: 3px;
                            background-color: var(--primary);
                            border: thin solid rgb(17, 25, 39) ;
                            color: rgba(164, 177, 205, 0.4);
    
                            &:hover {
                                background-color: var(--secondary);
                                // border: thin solid rgb(17, 25, 39) ;
                            }
                        }

                        &>.show:last-child {
                            background-color: var(--secondary);
                            color: rgba(164, 177, 205, 0.4);
                            height: 150px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            inset: 10px -2px auto auto !important;

                            
                            .form-check {
                                height: 35px;
                                width: 110px;

                                input[type='radio'] {
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50%;
                                    background-color: var(--primary);
                                    border: 2px solid var(--primary);
                                    outline: none;
                                    // &:checked {
                                    //     caret-color: #9fef00!important;
                                    // }
                                }

                                label {
                                    margin-left: 20px;
                                }
                            }
                        }
                    }

                }
            }

            .table-content {
                background-color: #151c2a;
                table {
                    padding-left: 20px;
                    thead {
                        border-bottom: 1px solid rgba(32,40,55,.5);
                        th {
                            text-transform: uppercase;
                            color: #a4b1cd!important;
                            font-size: 15px;
                            font-weight: 500;
                            padding-left: 40px;
                            padding-top: 20px;
                            padding-bottom: 30px;
                            width: 10%;
                            &:last-child {
                                width: 50%;
                            }
                        }
                    }

                    tr {
                        margin-bottom: 50px;
                        td {
                            width: 10%;
                            padding-left: 40px;
                            padding-top: 20px;
                            padding-bottom: 30px;
    
                            &:last-child {
                                width: 50%;
                                padding-right: 20px;
                            }
                        }
                    }

                }
            }
        }
    }
}
