$primary-black: #161d2b;
$primary-green: rgb(159, 239, 0, 1);
$secondary-green: rgb(159, 239, 0, 0.9);
$third-green: rgb(159, 239, 0, 0.5);
$primary-bg-color:  #121927;
$secondary-bg-color:  #1b2231;
$primary-font-color: #a4b1cd;

:root {
    --primary: #161d2b;
    --secondary: #1c2332;
    --third: #121927;
    --headerHigh: 80px;
    --headerML: 20px;
    --toastify-color-light: $primary-bg-color;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin primary-bottom-line {
    border-bottom: 1px solid rgba(32,40,55,.5);
}

.modal-content {
    color: white!important;
    background-color: #1b2231!important;
    letter-spacing: 5px;
    div {
        border: 0;
    }

    .btn {
        width: 150px;
        height: 45px;
        border: 0;
        border-radius: 3px;
        font-weight: 550;
        font-size: 18px;
        letter-spacing: 8px;
    }
    .btn-primary {
        color: #141d2b;
        background-color:$primary-green;

        &:hover {
            background-color: $secondary-green;
            color: #141d2b;
        }
    }
    .btn-secondary {
        color: #a4b1cd;
        background-color: #1b2231;

        &:hover {
            background-color: rgb(165,174,199,0.5);
            color: #1b2231;
        }
    }

    .modal-body {
        @include flex-start-center;
        gap: 20px;

        .fa {
            width: 30px;
            height: 30px;
            // margin-left: 10px;
        }
    }
}

.app {
    display: flex;
    color: $primary-font-color;

    .sidebar {
        min-height: 100vh;
        width: 240px;
        border-right: 1px solid rgba(32,40,55,.5);
        background-color: $primary-bg-color;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        .header {
            @include flex-center-center();
            @include primary-bottom-line();
            height: var(--headerHigh);
            gap: 10px;
            margin-left: var(--headerML);
            
            .header-image {
                background-image: url(../../public/ds.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                width: 90%;
                height: 90%;
            }

            .header-title {
                font-size: 20px;
            }
        }

        .menu {
            margin-top: 30px;

            a {
                text-decoration: none;
                color: $primary-font-color;
            }

            .list-group {
                padding-left: 20px;
                .list-group-item {
                    @include flex-start-center;
                    background-color: $primary-bg-color;
                    color: $primary-font-color;
                    font-size: 18px;
                    border: 0;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    gap: 20px;
                    width: 90%;

                    &:hover {
                        color: white;
                    }
                }

                .active {
                    background-color: #3e424b;
                    width: 90%;
                }
            }
        }
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 240px;
        height: 100vh;
        background-color: $primary-bg-color;

        .content-top {
            @include flex-start-center();
            @include primary-bottom-line();
            height: 80px;
            width: 100%;
            position: sticky;
            top: 0;
            z-index: 999;
            background-color: $primary-bg-color;

            gap: 20px;
            padding-left: var(--headerML);

            .fa {
                width: 40px;
                height: 80px;
            }

            h1 {
                margin: 0;
            }
        }

        .content-center {
            flex: 1;

            .content-commands {
                @include primary-bottom-line();
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 0;

                .card {
                    background-color: var(--third);
                    color: $primary-font-color;
                    border-radius: 0;
    
                    .card-header {
                        border: 0;
                        font-size: 20px;
                        font-weight: 600;
                    }

                    .card-body {
                        .card-title {
                            @include flex-center-center();
                            gap: 10px;

                            span {
                                @include flex-center-center();
                                gap: 10px;
                                width: 100px;
                                height: 30px;
                                border-radius: 10px;
                                color: rgb(9, 69, 199,1);
                                background-color: rgba(9, 69, 199, 0.25);

                                &::before {
                                    content: "";
                                    display: block;
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 100%;
                                    background-color: rgba(9, 69, 199, 1);
                                }
                                
                                &.warning {
                                    &::before {
                                        background-color: rgba(255, 167, 52, 1);
                                    }
                                    color: rgba(255, 167, 52, 1);
                                    background-color: rgba(255, 167, 52, 0.5);
                                }

                                &.success {
                                    &::before {
                                        background-color: rgb(159, 239, 0, 1);
                                    }
                                    color: rgba(159, 239, 0, 1);
                                    background-color: rgba(159, 239, 0, 0.5);
                                }

                                &.danger {
                                    &::before {
                                        background-color: rgba(255, 57, 67, 1);
                                    }
                                    color: rgba(255, 57, 67, 1);
                                    background-color: rgba(68, 30, 43, 0.5);
                                }
                            }
                        }
                    }
    
                    .card-footer {
                        @include flex-center-center();
                        flex-direction: column;
                        border: 0;

                        .foot-date, .foot-date-sp, .foot-funcs {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            width: 80%;

                            .foot-funcs-start, .foot-funcs-stop, .foot-funcs-sync {
                                @include flex-center-center();
                                gap: 15px;
                                padding: 0 8px 0 8px;
                            }

                            span {
                                display: block;
                                width: 100%;
    
                                &:not(:last-child) {
                                    border-right: 2px solid rgba(173, 184, 206, 0.5);
                                }
                            }
                        }

                        .foot-funcs {
                            display: none;

                            div {
                                &:hover {
                                    color: white;
                                    cursor: pointer;
                                    background-color: #3e424b;
                                    border-radius: 5px;
                                }
                            }
                        }

                        &:hover {
                            .foot-date {
                                display: none;
                            }
                            .foot-funcs {
                                display: flex;
                            }
                        }
                    }
                }
            }

            .table-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 65px;
                padding: 0 40px;
                background-color: $primary-bg-color;

                .table-header-search {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .fa {
                        display: block;
                        width: 20px;
                        height: 20px;
                    }

                    .input-group {
                        input {
                            background-color: $primary-bg-color;
                            color: rgb(67, 155, 53);
                            border: 0;

                            &::placeholder {
                                color: rgba(164, 177, 205, 0.4);
                            }
                        }
                    }
                }

                .table-header-funcs {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 600px;

                    .react-datepicker-wrapper {
                        border: 0;

                        .react-datepicker__input-container {
                            input[type="text"] {
                                color: $primary-font-color;
                                text-align: center;
                                width: 160px;
                                height: 38px;
                                border: 0;
                                background-color: var(--primary);

                                &:focus {
                                    outline: thin solid rgb(17, 25, 39);
                                }
                            }
                        }
                    }

                    .react-datepicker {
                        background-color: $secondary-bg-color;
                        border: thin solid rgb(17, 25, 39) ;
                        border-radius: 3px;
                        inset: 3px 80px auto auto !important;
                        
                        .react-datepicker__triangle {
                            &::before {
                                display: none;
                            }
                            &::after {
                                display: none;
                            }
                        }

                        .react-datepicker__header {
                            background-color: $secondary-bg-color;
                            border: 0;

                            .react-datepicker__current-month, .react-datepicker__day-name, .react-datepicker__day--keyboard-selected {
                                color: $primary-font-color;
                            }
                        }

                        .react-datepicker__month-container {
                            .react-datepicker__month {
                                .react-datepicker__week {
                                    .react-datepicker__day--keyboard-selected{
                                        background-color: $primary-green;
                                        color: $primary-bg-color;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }

                        .react-datepicker__day {
                            color: $primary-font-color;

                            &:hover {
                                background-color: $primary-green;
                                color: $primary-bg-color;
                                font-weight: 600;
                            }
                            &--selected {
                                background-color: $primary-green;
                                color: $primary-bg-color;
                                font-weight: 600;
                            }
                        }
                    }

                    .dropdown {
                        button {
                            width: 100px;
                            text-transform: uppercase;
                            border-radius: 3px;
                            background-color: var(--primary);
                            border: thin solid rgb(17, 25, 39) ;
                            color: rgba(164, 177, 205, 1);
    
                            &:hover {
                                background-color: var(--secondary);
                                // border: thin solid rgb(17, 25, 39) ;
                            }
                        }

                        &>.show:last-child {
                            @include flex-center-center();
                            flex-direction: column;
                            background-color: var(--secondary);
                            color: rgba(164, 177, 205, 1);
                            // width: 200px;
                            position: absolute;
                            inset: 10px -2px auto auto !important;

                            .form-check {
                                @include flex-start-center();
                                height: 35px;
                                width: 100%;
                                margin-left: 10px;

                                input {
                                    width: 25px;
                                    height: 25px;

                                    background-color: var(--primary);
                                    border: 2px solid var(--primary);
                                    outline: none;
                                    appearance: none;

                                    &[type='radio'] {
                                        border-radius: 100%;
                                    }
                                }

                                label {
                                    margin-left: 20px;
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .form-switch {
                        @include flex-start-center();
                        gap: 5px;
                        label {
                            overflow: hidden;
                        }

                        .form-check-input {
                            border: 1px solid $primary-green;
                            background-color: $secondary-bg-color;
                        }
                    }
                }
            }

            .table-content {
                background-color: #151c2a;
                table {
                    padding-left: 20px;
                    thead {
                        @include primary-bottom-line();

                        th {
                            text-transform: uppercase;
                            color: #a4b1cd!important;
                            font-size: 15px;
                            font-weight: 600;
                            padding-left: 40px;
                            padding-top: 20px;
                            padding-bottom: 30px;
                            width: 10%;
                            &:last-child {
                                width: 50%;
                            }
                        }
                    }

                    tr {
                        margin-bottom: 50px;
                        td {
                            width: 10%;
                            padding-left: 40px;
                            padding-top: 20px;
                            padding-bottom: 30px;
    
                            &:last-child {
                                width: 50%;
                                padding-right: 20px;
                            }
                        }
                    }

                }
            }
        }
    }
}
