:root {
    --primary: #161d2b;
    --secondary: #1c2332;
    --third: #121927;
    --headerHigh: 80px;
    --headerML: 20px;
}

.app {
    background-color: var(--primary);
    display: flex;
    color: white;

    .sidebar {
        height: 100vh;
        width: 240px;
        border-right: 1px solid rgba(32,40,55,.5);

        .header {
            display: flex;
            align-items: center;
            height: var(--headerHigh);
            gap: 10px;
            margin-left: var(--headerML);
            border-bottom: 1px solid rgba(32,40,55,.5);


            .header-image {
                background-image: url(../../public/htb.svg);
                background-repeat: no-repeat;
                // background-position: center center;

                width: 40px;
                height: 40px;
            }

            .header-title {
                font-size: 20px;
            }
        }

        .menu {
            margin-top: 30px;
            .list-group {
                padding-left: 10px;
                .list-group-item {
                    background-color: var(--primary);
                    color: #a4b1cd;
                    font-size: 18px;
                    border: 0;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;

                    &:hover {
                        color: white;
                    }
                }

                .active {
                    background-color: #3e424b;
                    border-radius: 5px;
                    width: 90%;
                }
            }
        }
    }

    .content {
        flex: 1;

        .content-top {
            height: var(--headerHigh);
            border-bottom: 1px solid rgba(32,40,55,.5);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            margin-left: var(--headerML);

            .fa {
                width: 40px;
                height: 40px;
            }

            h1 {
                margin: 0;
            }
        }

        .content-commands {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            margin: 20px 15px;

            .card {
                background-color: var(--secondary);
                color: white;

                .card-footer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2px;

                    .card-span {
                        display: block;
                        width: 100%;
                        
                        &:first-child {
                            border-right: 2px solid rgba(173, 184, 206, 0.5);
                        }
                    }
                }
            }
        }


    }
}
